#container__item{
    border-radius: 10px;
    border:solid rgb(139, 133, 39);
    background-color: white;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% 3%;
}

#container__item > p{
    color: black;
    font-size: 20px;
    margin: 3% 0%;
}

#container__item > img{
    border-radius: 10px;
    margin: 0% 3%;
    width: 80%;
    height: 70%;
    margin-top: 4%;
}

#container__item:hover{
    cursor: pointer;
    background-color: rgba(114, 114, 114, 0.685);
}

#container__item:hover > p{
    color: yellow;
}
