#container__welcomeCard{
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url("/supermarket.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#container__welcomeCard > h1{
    font-size: 100px;
    margin-top:30px ;
}