<div id="container__listItems">
    <h1 id="title">Items</h1>
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <button class="nav-link" [class.active]="abaAtiva === 'carnes'" (click)="ativarAba('carnes')">Carnes</button>
      </li>
      <li class="nav-item">
         <button class="nav-link" [class.active]="abaAtiva === 'massas'" (click)="ativarAba('massas')">Massas</button>
      </li>
      <li class="nav-item">
         <button class="nav-link" [class.active]="abaAtiva === 'doces'" (click)="ativarAba('doces')">Doces</button>
      </li>
      <li class="nav-item">
         <button class="nav-link" [class.active]="abaAtiva === 'bebidas'" (click)="ativarAba('bebidas')">Bebidas</button>
      </li>
    </ul>
    <div *ngIf="abaAtiva === 'carnes'">
      <app-item-vertical (message)="getMessage($event)" [id]="5"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="6"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="7"></app-item-vertical>
    </div>

    <div *ngIf="abaAtiva === 'massas'">
      <app-item-vertical (message)="getMessage($event)" [id]="8"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="9"></app-item-vertical>
    </div>

    <div *ngIf="abaAtiva === 'doces'">
      <app-item-vertical (message)="getMessage($event)" [id]="11"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="12"></app-item-vertical>
    </div>

    <div *ngIf="abaAtiva === 'bebidas'">
      <app-item-vertical (message)="getMessage($event)" [id]="0"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="1"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="2"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="3"></app-item-vertical>
      <app-item-vertical (message)="getMessage($event)" [id]="4"></app-item-vertical>
    </div>
</div>
