<div class="container bg-primary text-center rounded-3 mx-auto my-5 px-4 py-3" style="width: 80%;">
    <h1 id="title" class="text-light">Items</h1>
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <button class="nav-link" [class.active]="abaAtiva === 'carnes'" (click)="ativarAba('carnes')" [ngStyle]="{ color: abaAtiva === 'carnes' ? 'black' : 'white' }">Carnes</button>
      </li>
      <li class="nav-item">
         <button class="nav-link" [class.active]="abaAtiva === 'massas'" (click)="ativarAba('massas')" [ngStyle]="{ color: abaAtiva === 'massas' ? 'black' : 'white' }">Massas</button>
      </li>
      <li class="nav-item">
         <button class="nav-link" [class.active]="abaAtiva === 'doces'" (click)="ativarAba('doces')" [ngStyle]="{ color: abaAtiva === 'doces' ? 'black' : 'white' }">Doces</button>
      </li>
      <li class="nav-item">
         <button class="nav-link" [class.active]="abaAtiva === 'bebidas'" (click)="ativarAba('bebidas')" [ngStyle]="{ color: abaAtiva === 'bebidas' ? 'black' : 'white' }">Bebidas</button>
      </li>
    </ul>
    <div class="container" *ngIf="abaAtiva === 'carnes'">
      <div class="row row-cols-auto">
        <app-item-vertical (message)="getMessage($event)" [id]="5"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="6"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="7"></app-item-vertical>
      </div>
    </div>

    <div class="container" *ngIf="abaAtiva === 'massas'">
      <div class="row row-cols-auto">
        <app-item-vertical (message)="getMessage($event)" [id]="8"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="9"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="10"></app-item-vertical>
      </div>
    </div>

    <div class="container" *ngIf="abaAtiva === 'doces'">
      <div class="row row-cols-auto">
        <app-item-vertical (message)="getMessage($event)" [id]="11"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="12"></app-item-vertical>
      </div>
    </div>

    <div class="container" *ngIf="abaAtiva === 'bebidas'">
      <div class="row row-cols-auto">
        <app-item-vertical (message)="getMessage($event)" [id]="0"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="1"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="2"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="3"></app-item-vertical>
        <app-item-vertical (message)="getMessage($event)" [id]="4"></app-item-vertical>
      </div>
    </div>
</div>

