<div class="text-bg-primary p-3 d-flex justify-content-center align-items-center" style="flex-direction: column;">
    <h1>Supermarket</h1>
    <h5>contact us on:</h5>
    <div class="container">
        <div class="row row-cols-auto justify-content-center align-items-center">
            <a class="icon-link" href="#"><i class="bi bi-whatsapp icon-hover" style="font-size: 25px;"></i></a>
            <a class="icon-link" href="#"><i class="bi bi-facebook icon-hover" style="font-size: 25px;"></i></a>
            <a class="icon-link" href="#"><i class="bi bi-instagram icon-hover" style="font-size: 25px;"></i></a>
            <a class="icon-link" href="#"><i class="bi bi-twitter icon-hover" style="font-size: 25px; margin-bottom: 5%;"></i></a>
        </div>
    </div>
</div>
